@charset "UTF-8";
@font-face {
  font-family: "photo-chaos-organizer-client";
  src: url("../fonts/photo-chaos-organizer-client.eot");
  src: url("../fonts/photo-chaos-organizer-client.eot?#iefix") format("embedded-opentype"), url("../fonts/photo-chaos-organizer-client.woff") format("woff"), url("../fonts/photo-chaos-organizer-client.ttf") format("truetype"), url("../fonts/photo-chaos-organizer-client.svg#photo-chaos-organizer-client") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "photo-chaos-organizer-client" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="font-svg-"],
[class*=" font-svg-"] {
  display: inline-block;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
[class^="font-svg-"]:before,
[class*=" font-svg-"]:before {
  font-family: "photo-chaos-organizer-client" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 80px;
}
.font-svg-file:before {
  content: "a";
}
.font-svg-folder:before {
  content: "b";
}
.font-svg-photo:before {
  content: "c";
}
.font-svg-root:before {
  content: "d";
}
.font-svg-bookmark-off:before {
  content: "e";
}
.font-svg-previous:before {
  content: "f";
}
.font-svg-up:before {
  content: "g";
}
.font-svg-star:before {
  content: "h";
}
.font-svg-info:before {
  content: "i";
}
.font-svg-bookmark-on:before {
  content: "j";
}
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
}
html,
body,
.container,
#angular-views-entry {
  height: 100%;
}
.container {
  display: table;
  width: 100%;
  margin-left: 0px;
  margin-top: -50px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
}
header {
  background: #f0f0f0;
  height: 50px;
}
.row {
  height: 100%;
}
.col-md-4.no-float {
  float: none;
}
.col-md-4 {
  display: table-cell;
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  width: 33%;
  padding: 0px;
}
div.fsEntry {
  top: 0px;
  left: 0px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  float: left;
  width: 140px;
  height: 140px;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 2px #aaaaaa;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  background-color: #eeeeee;
}
div.fsEntry:hover {
  box-shadow: 2px 2px 10px #aaaaaa;
}
div.fsEntry div.icon {
  position: relative;
  top: 10px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
div.fsEntry div.thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 138px;
  height: 138px;
}
div.fsEntry div.thumb img {
  border: 1px solid #ddeeff;
  max-width: 138px;
  max-height: 138px;
}
div.fsEntry div.label {
  position: absolute;
  bottom: 0;
  border: 0px solid blue;
  width: 140px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  color: #ffffff;
  text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
  font-size: 12px;
}
div.fsEntry div.fsStatusMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 140px;
  border: 0px solid #ffaa00;
}
div.fsEntry div.fsStatusMenu div.favoritePath {
  text-align: center;
  padding-top: 5px;
}
div.fsEntry div.fsStatusMenu div.favoritePath a {
  color: #ffffff;
  text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
}
div.fsEntry div.fsStatusMenu div.favoritePath .font-svg-bookmark-on:before {
  font-size: 20px;
}
div.fsEntry div.fsEntryMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 140px;
  border: 0px solid red;
  display: none;
}
div.fsEntry div.fsEntryMenu div.favoritePath {
  text-align: center;
  padding-top: 5px;
}
div.fsEntry div.fsEntryMenu div.favoritePath a {
  color: #ffffff;
  text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
}
div.fsEntry div.fsEntryMenu div.favoritePath .font-svg-bookmark-off:before {
  font-size: 20px;
}
img.rotate0 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img.rotateCCW {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
img.rotateCW {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
img.rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
