@import 'fonts.less';

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

@fs-entry-width: 140px;
@fs-entry-height: 140px;
@fs-entry-border: 1px;
@fs-entry-icon-size: 80px;
@fs-entry-label-height: 60px;

@color-default: #337ab7;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}

html, body, .container, #angular-views-entry {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin-left: 0px;
  margin-top: -50px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #f0f0f0;
  height: 50px;
}

.row {
  height: 100%;
}

.col-md-4.no-float {
  float: none;
}

.col-md-4 {
  display: table-cell;
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  width: 33%;
  padding: 0px;
}

div.fsEntry {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  float: left;
  width: @fs-entry-width;
  height: @fs-entry-height;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 2px #aaaaaa;
  transition: box-shadow 0.5s;
  background-color: #eeeeee;

  &:hover {
    box-shadow: 2px 2px 10px #aaaaaa;
  }

  &.userSelected {
    border: 1px solid #337ab7 !important;
  }
  div.icon {
    position: relative;
    top: 10px;
    width: @fs-entry-icon-size;
    margin-left: auto;
    margin-right: auto;

    i.icon-image-raw {
      color: @color-default;
    }
    i.icon-thumbnail {
      color: @color-default;
    }
    i.icon-image-raw {
      color: #385388;
    }
    i.icon-folder {
      color: #b88a1c;
    }
    i.icon-video {
      color: #468b46;
    }
    i.icon-video-meta {
      color: #468b46;
    }
    i.icon-file {
      color: #b4b3a5;
    }
    i.icon-unreadable {
      color: #ff4812;
    }
  }
  div.thumb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: @fs-entry-width - 2 * @fs-entry-border;
    height: @fs-entry-height - 2 * @fs-entry-border;
    img {
      opacity: 0;
      border: 1px solid #ddeeff;
      max-width: @fs-entry-width - 2 * @fs-entry-border;
      max-height: @fs-entry-height - 2 * @fs-entry-border;
      //transition: opacity 1s;
      &.rotate0 {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        opacity: 1;
      }

      &.rotateCCW {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%) rotate(-90deg));
        opacity: 1;
      }

      &.rotateCW {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%) rotate(90deg));
        opacity: 1;
      }

      &.rotate180 {
        .transform(rotate(180deg));
        opacity: 1;
      }
    }
  }
  div.label {
    position: absolute;
    bottom: 0;
    border: 0px solid blue;
    width: @fs-entry-width;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    .wordwrap;
    color: #ffffff;
    text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
    font-size: 12px;
  }
  div.fsStatusMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: @fs-entry-height;
    border: 0px solid #ffaa00;
    i.bookmark-on {
      color: #b81d25;
    }
    div.favoritePath {
      text-align: center;
      padding-top: 5px;
      a {
        color: #ffffff;
        text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
      }
      .font-svg-bookmark-on:before {
        font-size: 20px;
      }
    }
  }
  div.fsEntryMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: @fs-entry-height;
    border: 0px solid red;
    display: none;
    div.favoritePath {
      text-align: center;
      padding-top: 5px;
      a {
        color: #ffffff;
        text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
      }
      .font-svg-bookmark-off:before {
        font-size: 20px;
      }
    }
  }
}

div.pageContainer {
  //visibility: hidden;
}

// -table
.rTable {
  display: table;
  width: 100%;
}

.rTableRow {
  display: table-row;
}

.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}

.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
}

.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}

.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}

.rTableBody {
  display: table-row-group;
}

