@import 'fonts.less';

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

@fs-entry-width: 140px;
@fs-entry-height: 140px;
@fs-entry-border: 1px;
@fs-entry-icon-size: 80px;
@fs-entry-label-height: 60px;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}

html, body, .container, #angular-views-entry {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin-left: 0px;
  margin-top: -50px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #f0f0f0;
  height: 50px;
}

.row {
  height: 100%;
}

.col-md-4.no-float {
  float: none;
}

.col-md-4 {
  display: table-cell;
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  width: 33%;
  padding: 0px;
}

div.fsEntry {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  float: left;
  width: @fs-entry-width;
  height: @fs-entry-height;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 2px #aaaaaa;
  transition: box-shadow 0.5s;
  background-color: #eeeeee;
}

div.fsEntry:hover {
  box-shadow: 2px 2px 10px #aaaaaa;
}

div.fsEntry div.icon {
  position: relative;
  top: 10px;
  width: @fs-entry-icon-size;
  margin-left: auto;
  margin-right: auto;
}

div.fsEntry {
  div.thumb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: @fs-entry-width - 2 * @fs-entry-border;
    height: @fs-entry-height - 2 * @fs-entry-border;
    img {
      border: 1px solid #ddeeff;
      max-width: @fs-entry-width - 2 * @fs-entry-border;
      max-height: @fs-entry-height - 2 * @fs-entry-border;
    }
  }
  div.label {
    position: absolute;
    bottom: 0;
    border: 0px solid blue;
    width: @fs-entry-width;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    .wordwrap;
    color: #ffffff;
    text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
    font-size: 12px;
  }
  div.fsStatusMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: @fs-entry-height;
    border: 0px solid #ffaa00;
    div.favoritePath {
      text-align: center;
      padding-top: 5px;
      a {
        color: #ffffff;
        text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
      }
      .font-svg-bookmark-on:before {
        font-size: 20px;
      }
    }
  }
  div.fsEntryMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: @fs-entry-height;
    border: 0px solid red;
    display: none;
    div.favoritePath {
      text-align: center;
      padding-top: 5px;
      a {
        color: #ffffff;
        text-shadow: 0px 0px 3px #555555, 1px 1px 2px #000000;
      }
      .font-svg-bookmark-off:before {
        font-size: 20px;
      }
    }
  }
}


img.rotate0 {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
}

img.rotateCCW {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%) rotate(-90deg));
}

img.rotateCW {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%) rotate(90deg));
}

img.rotate180 {
  .transform(rotate(180deg));
}