<select name="{{parameterId}}" ng-model="vm.taskTemplateData[parameterId]" ng-required="parameter.mandatory">
  <option value="uuuuMMdd">yyyyMMdd</option>
  <option value="uuuu-MM-dd">yyyy-MM-dd</option>
  <option value="uuuu.MM.dd">yyyy.MM.dd</option>
  <option value="uuuu/MMdd">yyyy/MMdd</option>
  <option value="uuuu/MM-dd">yyyy/MM-dd</option>
  <option value="uuuu/MM.dd">yyyy/MM.dd</option>
  <option value="uuuu/MM/dd">yyyy/MM/dd</option>
  <option value="uuuu/uuuuMMdd">yyyy/yyyyMMdd</option>
  <option value="uuuu/uuuu-MM-dd">yyyy/yyyy-MM-dd</option>
</select>
