<div class="tableWrapper" ng-if="vm.info">
  <table class="reportTable">
    <tr>
      <td translate>taskInfo.running.label</td>
      <th translate>{{"taskInfo.running." + vm.info.running}}</th>
    </tr>
  </table>
</div>

<div></div>

<div class="tableWrapper" ng-repeat="report in vm.reports">
  <table class="reportTable">
    <tr>
      <th ng-repeat="header in report.headers" translate>{{"report.header." + header}}</th>
    </tr>
    <tr ng-repeat="row in report.rows">
      <td ng-repeat="header in report.headers" ng-if="row.cols.OPERATION != 'doNothing'">
                <span ng-if="header == 'OPERATION'" translate>
                {{"report.operation." + row.cols[header]}}
                </span>
                <span ng-if="header != 'OPERATION'">
                {{row.cols[header]}}
                </span>
      </td>
    </tr>
  </table>
</div>
