<div class="container-fluid pageContainer">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2 translate>g.filesystemRoots</h2>

        <div ng-repeat="root in vm.rootList">
          <div ng-dblclick="vm.fileSystemRootDoubleClicked(root)"
              title="{{'g.goToPath' | translate}}{{root.path}}">
            <div class="fsEntry unselectable">
              <div class="icon"><i class="font-svg-root"></i></div>
              <div class="label">{{root.path}}</div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <h2 translate>g.favorites</h2>

        <div ng-repeat="favorite in vm.favoriteList">
          <div ng-dblclick="vm.favoriteDoubleClicked(favorite)"
              title="{{'g.goToPath' | translate}}{{favorite.path}}">
            <div class="fsEntry unselectable">
              <div class="icon"><i class="font-svg-folder icon-folder"></i></div>
              <div class="label">{{favorite.path}}</div>

              <div class="fsStatusMenu">
                <div class="favoritePath">
                  <i class="font-svg-bookmark-on bookmark-on"></i>
                </div>
              </div>

              <div class="fsEntryMenu" show-on-hover=".fsEntry">
                <div class="favoritePath">
                  <a href="javascript:;" ng-click="vm.removeFavorite(favorite.path)"
                      title="{{('g.removeFavorite' | translate)}}">
                    <i class="font-svg-bookmark-off"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>