<div class="container-fluid pageContainer">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2 translate>g.help</h2>
      </div>

      <div class="row">

        <div>
          <h3 translate>help.pathView</h3>
          <ul class="help">
            <li><b>F2</b> - edit folder name</li>
            <li><b>Shift + F6</b> - edit folder name</li>
            <li><b>Return</b> - rename folder (when in editing mode)</li>
            <li><b>Esc</b> - do not rename folder (when in editing mode)</li>
          </ul>
        </div>

        <div>
          <h3 translate>help.imageViewer</h3>
          <ul class="help">
            <li><b>Right Arrow</b> - next picture</li>
            <li><b>Left Arrow</b> - previous picture</li>
            <li><b>Esc</b> - close image viewer</li>
            <li><b>Cmd + F</b> - full screen</li>
            <li><b>Ctrl + F</b> - full screen</li>
          </ul>
        </div>

        <div>
          <h3 translate>help.imageViewerFullScreen</h3>
          <ul class="help">
            <li><b>Right Arrow</b> - next picture</li>
            <li><b>Left Arrow</b> - previous picture</li>
            <li><b>Esc</b> - close full screen</li>
          </ul>
        </div>

        <div>
          <h3 translate>help.projectDetails</h3>
          <ul class="help">
            <li><b>Home Page</b> - in case you want to download the newest version, or report issues:</li>
            <li><a href="https://github.com/egyedia/photo-chaos-organizer">https://github.com/egyedia/photo-chaos-organizer</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</div>