<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <a href="/#/">
        <i class="font-svg-root"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <h1>
      <span ng-repeat="parent in parentList">
        <span ng-if="$last">{{parent.name}}</span>
        <a ng-if="!$last" href="#/path/{{parent.linkPath}}">{{parent.name}}</a><span
          ng-show="{{parent.name != '/'}}"> /</span>
      </span>
      </h1>


      <div class="fsEntry" ng-if="!locationIsRoot">
        <a href="#/path/{{parentPath}}">
          <div class="icon"><i class="font-svg-up"></i></div>
          <div class="label">Go up</div>
        </a>
      </div>

      <div ng-repeat="entry in contentList| orderBy:'-isdir'" ng-repeat-finished="renderingContentsFinished"
           ng-if="contentList !== null && contentList.length > 0">
        <div class="fsEntry">
          <a href="#/path/{{entry.linkPath}}">
            <div ng-hide="{{entry.hideIcon}}" class="icon"><i class="{{entry.iconClass}}"></i></div>
            <div class="thumb"><img ng-src="{{entry.img}}" alt="" title="" pco-onload ng-class="entry.cssClass"/></div>
            <div class="label">{{entry.name}}</div>
          </a>

          <div class="fsStatusMenu">
            <div class="favoritePath" ng-show="entry.isFavorite">
              <i class="font-svg-bookmark-on"></i>
            </div>
          </div>

          <div class="fsEntryMenu" show-on-hover=".fsEntry">
            <div class="favoritePath" ng-show="entry.isDir">
              <a href="javascript://" ng-click="addOrRemoveFavorite(entry.fullPath, entry.isFavorite)">
                <i class="font-svg-bookmark-off"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>