<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <a href="/#/">
        <i class="font-svg-root"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <h1>
      <span ng-repeat="parent in pco.pathData.parentList">
        <span ng-if="$last">{{parent.name}}</span>
        <a ng-if="!$last" href="#/path/{{parent.linkPath}}">{{parent.name}}</a><span
          ng-show="{{parent.name != '/'}}"> /</span>
      </span>
      </h1>


      <div class="fsEntry" ng-if="!pco.pathData.locationIsRoot">
        <a href="#/path/{{pco.pathData.parentPath}}">
          <div class="icon"><i class="font-svg-back"></i></div>
          <div class="label">Go back</div>
        </a>
      </div>

      <div ng-repeat="entry in pco.pathData.entryList| orderBy:'-isdir'" ng-repeat-finished="renderingContentsFinished"
           ng-if="pco.pathData.entryList !== null && pco.pathData.entryList.length > 0">
        <div class="fsEntry">
          <a href="#/path/{{entry.linkPath}}">
            <div ng-hide="entry.hideIcon" class="icon"><i class="{{entry.iconClass}}"></i></div>
            <div class="thumb"><img ng-src="{{entry.img}}" alt="" title="" pco-onload ng-class="entry.cssClass" ng-data-filename="{{entry.name}}"/></div>
            <div class="label">{{entry.name}}</div>
          </a>

          <div class="fsStatusMenu">
            <div class="favoritePath" ng-show="entry.isFavorite">
              <i class="font-svg-bookmark-on"></i>
            </div>
          </div>

          <div class="fsEntryMenu" show-on-hover=".fsEntry">
            <div class="favoritePath" ng-show="entry.isDir">
              <a href="javascript://" ng-click="addOrRemoveFavorite(entry.fullPath, entry.isFavorite)">
                <i class="font-svg-bookmark-off"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>