<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Create task</h2>

        <h3 translate>g.summary</h3>

        <div class="wideEntry taskTemplate">
          <span ng-hide="true">{{taskTemplate = vm.taskTemplate}}</span>

          <div ng-include="'views/fragments/task-summary.html'"></div>
        </div>

        <h3 translate>g.parameters</h3>

        <div class="wideEntry">
          <div class="noBorderTableCell">
            <i class="font-svg-task icon-medium"></i>
          </div>
          <div class="noBorderTableCell taskParameterTable">
            <form name="taskTemplateForm" class="taskTemplateForm">

              <div class="paramWrapper">
                <div class="paramNameAndValue">
                  <div class="paramName">{{'taskParameter.taskName' | translate}}
                    <div class="paramMandatory">*</div>
                  </div>
                  <div class="paramInput">
                    <input type="text" name="taskName" ng-model="vm.taskTemplate.taskName"
                        ng-required="true"/>
                  </div>
                </div>

                <div class="paramDescription">
                  {{'taskParameter.taskNameDescription' | translate}}
                </div>

                <div class="paramSeparator"></div>
              </div>

              <div ng-repeat="(parameterId, parameter) in vm.taskTemplate.parameters" class="paramWrapper">
                <div class="paramNameAndValue">
                  <div class="paramName">{{parameter.nameKey | translate}}
                    <div class="paramMandatory" ng-if="parameter.mandatory">*</div>
                  </div>
                  <div class="paramInput" ng-include="'views/fragments/parameters/' + parameter.type + '.html'"></div>
                </div>

                <div class="paramDescription">
                  {{parameter.descriptionKey | translate}}
                </div>

                <div class="paramSeparator"></div>
              </div>
            </form>
          </div>
          <div class="launchButtons">
            <a href="#" ng-if="taskTemplateForm.$valid" ng-click="vm.createTask()"
                title="{{'createTask.valid' | translate}}" class="validSaveButton"><i
                class="font-svg-check-circle"></i></a>

                <span ng-if="!taskTemplateForm.$valid" title="{{'createTask.invalid' | translate}}"
                    class="invalidSaveButton"><i
                    class="font-svg-check-circle"></i></span>
          </div>
        </div>

      </div>

    </div>
  </div>