<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Select a task</h2>
        <div ng-repeat="task in vm.taskList">
          <div class="fsEntry">
            <a href="/task-run/{{task.id}}">
              <div class="icon"><i class="font-svg-user"></i></div>
              <div class="label">{{task.title}}</div>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>