<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2 translate>pageTitle.runTask</h2>

        <h3 translate>g.summary</h3>

        <div class="wideEntry taskTemplate">
          <span ng-hide="true">{{taskTemplate = vm.taskTemplate}}</span>

          <div ng-include="'views/fragments/task-summary.html'"></div>
        </div>

        <h3 translate>g.parameters</h3>

        <div class="wideEntry">
          <div ng-include="'views/fragments/task-parameters.html'"></div>
        </div>

        <h3 translate>g.reports</h3>

        <div ng-include="'views/fragments/task-report.html'"></div>

        <div>
          <a href="/task-launch/{{vm.task.id}}" title="{{'g.back' | translate}}"><i class="font-svg-back"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>