<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Edit task</h2>

        <h3 translate>g.summary</h3>

        <div class="wideEntry taskTemplate">
          <span ng-hide="true">{{taskTemplate = vm.taskTemplate}}</span>

          <div ng-include="'views/fragments/task-summary.html'"></div>
        </div>

        <h3 translate>g.parameters</h3>

        <div class="wideEntry">
          <div static-include="views/fragments/task-parameters-edit.html"></div>

          <div class="launchButtons">
            <a href="#" ng-if="taskTemplateForm.$valid" ng-click="vm.updateTask(vm.task.id)"
                title="{{'updateTask.valid' | translate}}" class="validSaveButton"><i
                class="font-svg-check-circle"></i></a>

                <span ng-if="!taskTemplateForm.$valid" title="{{'updateTask.invalid' | translate}}"
                    class="invalidSaveButton"><i
                    class="font-svg-check-circle"></i></span>
          </div>
        </div>

      </div>

    </div>
  </div>