<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Create task</h2>


        <h3>Summary</h3>

        <div class="wideEntry">
          <div class="noBorderTableCell">
            <i class="font-svg-task icon-medium"></i>
          </div>
          <div class="noBorderTableCell" style="vertical-align: top;horiz-align: left;padding-right:60px">
            <b>{{vm.taskTemplate.name}}</b>

            <div ng-repeat="descriptionLine in vm.taskTemplate.description" style="margin-left:20px">
              <li>{{descriptionLine}}</li>
            </div>
          </div>
        </div>

        <!--{{vm.taskTemplateData}}-->
        {{myForm.myInput.$valid}}
        <h3>Parameters</h3>

        <div class="wideEntry">
          <div class="noBorderTableCell">
            <i class="font-svg-task icon-medium"></i>
          </div>
          <div class="noBorderTableCell">
            <div class="noBorderTableCell" style="vertical-align: top;horiz-align: left;padding-right:60px">
              <form name="taskTemplateForm">
                <div ng-repeat="(parameterId, parameter) in vm.taskTemplate.parameters" style="margin-left:20px">
                  <div class="paramNameAndValue">
                    <div class="paramName">{{parameter.name}}
                      <div class="paramMandatory" ng-if="parameter.mandatory">*</div>
                    </div>
                    <div class="paramInput" ng-include="'views/fragments/parameters/' + parameter.type + '.html'"></div>
                  </div>

                  <div class="paramDescription" ng-repeat="descriptionLine in parameter.description"
                      style="margin-left:20px">
                    <li>{{descriptionLine}}</li>
                  </div>

                  <div class="paramSeparator"></div>
                </div>
                <div>
                  <a href="#" ng-if="taskTemplateForm.$valid" ng-click="vm.createTask()"><i class="font-svg-check-circle"></i></a>

                  <span ng-if="!taskTemplateForm.$valid"><i class="font-svg-check-circle"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>