<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Create task from a template</h2>

        <div ng-repeat="taskTemplate in vm.taskTemplateList" class="wideEntry">
          <div class="noBorderTableCell">
            <i class="font-svg-task icon-medium"></i>
          </div>
          <div class="noBorderTableCell" style="vertical-align: top;horiz-align: left;padding-right:60px">
            <b>{{taskTemplate.name}}</b>

            <div style="margin-left:20px">
              {{taskTemplate.description}}
            </div>
          </div>
          <div style="position:absolute;right:10px; bottom:10px"><a href="/task-create/{{taskTemplate.className}}"><i
              class="font-svg-plus-circle icon-medium"></i></a></div>
        </div>

      </div>

    </div>

  </div>
</div>