<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2 translate>g.selectATask</h2>

        <div ng-repeat="task in vm.taskList" title="{{'g.viewTask' | translate}}"  ng-repeat-finished="listRenderedDone">
          <a href="/task-launch/{{task.id}}">
            <div class="fsEntry">
              <div class="icon"><i class="font-svg-task"></i></div>
              <div class="label">{{task.name}}</div>
            </div>
          </a>
        </div>

        <a ng-if="vm.listRendered" href="/task-template-list" class="createTaskPlus" title="{{'g.createNewTask' | translate}}">
          <div class="fsEntry">
            <div class="standaloneIcon">
              <i class="font-svg-plus-circle"></i>
            </div>
          </div>
        </a>

      </div>

    </div>

  </div>
</div>