<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2>Create a task from a template</h2>

        <div class="rTable pcoTable">
          <div class="rTableRow">
            <div class="rTableHead">Name</div>
            <div class="rTableHead">Description</div>
            <div class="rTableHead">Create task</div>
          </div>
          <div ng-repeat="taskTemplate in vm.taskTemplateList" class="rTableRow">
            <div class="rTableCell">{{taskTemplate.name}}</div>
            <div class="rTableCell pre">{{taskTemplate.description}}</div>
            <div class="rTableCell"><a href="/task-create/{{taskTemplate.type}}">Create</a></div>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>