<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <a href="/" title="{{'g.homeLinkTitle' | translate}}">
        <i class="font-svg-home"></i>
      </a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <h2 translate>g.createTaskFromTemplate</h2>

        <div ng-repeat="taskTemplate in vm.taskTemplateList" class="wideEntry taskTemplate taskTemplateInList">
          <div ng-include="'views/fragments/task-summary.html'"></div>
          <div class="addSign"><a href="/task-create/{{taskTemplate.className}}"
              title="{{'g.createTaskFromThis' | translate}}"><i
              class="font-svg-plus-circle icon-medium"></i></a></div>
        </div>

      </div>

    </div>

  </div>
</div>